<template>
    <div>
        <md-list>
            <add-simulation></add-simulation>
            <md-list-item @click="fit" v-if="this.hasSimulation">
                <md-icon>done</md-icon>
                <span class="md-list-item-text">Fit</span>
            </md-list-item>
            <batch-fit v-if="this.hasSimulation"></batch-fit>
            <copy-parameters></copy-parameters>
            <md-list-item @click="openLinearizationTool" v-if="this.hasSimulation">
                <md-icon>tab</md-icon>
                <span class="md-list-item-text">Open linearization tool</span>
            </md-list-item>
            <md-list-item @click="openBoltzmannTool" v-if="this.hasSimulation">
                <md-icon>tab_unselected</md-icon>
                <span class="md-list-item-text">Open boltzmann plot tool</span>
            </md-list-item>
            <export-project></export-project>
            <save-project></save-project>
        </md-list>
    </div>
</template>

<script>
import CopyParameters from './CopyParameters'
import AddSimulation from './AddSimulation'
import BatchFit from './BatchFit'
import SaveProject from './SaveProject'
import ExportProject from './ExportProject'

export default {
  components: {
    ExportProject,
    BatchFit,
    AddSimulation,
    CopyParameters,
    SaveProject
  },
  name: 'MainMenu',
  methods: {
    fit () {
      this.$store.commit('ACTIVATE_APP_LOADER')
      this.$socket.emit('workspace__fit', this.$store.getters.fitParameters, () => {
        this.$store.commit('DEACTIVATE_APP_LOADER')
      })
    },
    openLinearizationTool () {
      this.$router.push('/linearize')
    },
    openBoltzmannTool () {
      this.$router.push('/boltzmann')
    },
    openSaveProjectDialog () {

    }
  },
  computed: {
    hasSimulation () {
      return this.$store.getters.hasSimulation
    }
  }
}
</script>
