<template>
    <div>
        <md-list-item @click="visible = true">
            <md-icon>save</md-icon>
            <span class="md-list-item-text">Save current project</span>
        </md-list-item>
        <md-dialog style="min-width: 550px" :md-active.sync="visible">
            <md-dialog-content>
                <div class="md-layout md-gutter md-alignment-center-center">
                    <md-field class="md-layout-item md-size-50">
                        <label>File name</label>
                        <md-input v-model="saveAsFileName"></md-input>
                    </md-field>
                    <md-field class="md-layout-item md-size-20">
                        <md-select v-model="saveType">
                            <md-option value="oes">.oes</md-option>
                            <md-option value="json">.json</md-option>
                        </md-select>
                    </md-field>
                    <div>
                        <md-button @click="saveProject" class="md-raised md-primary">Save</md-button>
                    </div>
                </div>
                <file-browser
                        listHeader="Select folder"
                        :historyStorageKey="historyStorageKey"
                        selectMode="folder"
                        v-on:selected="folderSelected"
                ></file-browser>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
import FileBrowser from '../../file-viewer/FileBrowser'
import {addItemToHistory, setRoot, getRoot} from '../../../service/localHistoryManager'

export default {
  components: {
    FileBrowser
  },
  data () {
    return {
      visible: false,
      saveAsFileName: '',
      saveType: 'oes',
      historyStorageKey: 'saveProject'
    }
  },
  methods: {
    folderSelected (path) {
      setRoot(this.historyStorageKey, path)
    },
    saveProject () {
      let folderPath = getRoot(this.historyStorageKey)
      let path = `${folderPath}${this.saveAsFileName}.${this.saveType}`
      this.$socket.emit('workspace__save_project', path, () => {
        addItemToHistory(this.historyStorageKey, folderPath)
        this.visible = false
      })
    }
  }
}
</script>
