<template>
    <svg id="linearization-chart"></svg>
</template>

<script>
import MassiveD3Options from '../../chart/d3/Options/MassiveD3Options'
import LinearizationChart from '../../chart/d3/LinearizationChart'
import BaseChart from './BaseChart'

let lineChart = null

export default {
  extends: BaseChart,
  props: ['options', 'chartData'],
  mounted () {
    lineChart = new LinearizationChart(document.getElementById('linearization-chart'), MassiveD3Options.fromPrimitive(this.options))
    lineChart.draw(this.chartData)
    lineChart.newLinearizationPoint = (s, m) => {
      this.$emit('interface', [s, m])
    }
  },
  watch: {
    chartData: function (val) {
      lineChart.redraw(val)
    }
  }
}
</script>
