<template>
    <svg id="scatter-plot"></svg>
</template>

<script>
import ScatterPlot from '../../chart/d3/ScatterPlot'
import MassiveD3Options from '../../chart/d3/Options/MassiveD3Options'
import DataSet from '../../chart/d3/DataSet'
import Point from '../../chart/d3/Point'
import BaseChart from './BaseChart'

let scatterPlot = null

export default {
  extends: BaseChart,
  props: ['options', 'chartData', 'regressionLineData'],
  mounted () {
    scatterPlot = new ScatterPlot(document.getElementById('scatter-plot'), MassiveD3Options.fromPrimitive(this.options))
    scatterPlot.pointsSelected = (points) => {
      this.$emit('scatterPointsSelected', points)
    }
    scatterPlot.draw(this.chartData.map((v) => this.prepareDataSet(v)))
  },
  methods: {
    prepareDataSet (dataSetSource) {
      let dataSet = new DataSet()
      dataSet.name = dataSetSource.data_key
      dataSet.visible = true
      dataSet.color = dataSetSource.data_set_color
      let y = dataSetSource.scatter_data.y
      dataSet.data = dataSetSource.scatter_data.x.map((val, index) => new Point(val, y[index])).map((val) => {
        val.dataSet = dataSet
        val.simulation_part = dataSetSource
        return val
      })
      return dataSet
    }
  },
  watch: {
    chartData: function (val) {
      // TODO: needs to redraw points with bigger radius to allow points filtering, currently, unselect all points
      this.$emit('scatterPointsSelected', [])
      scatterPlot.redraw(val.map((v) => this.prepareDataSet(v)))
    },
    regressionLineData: function (val) {
      scatterPlot.drawRegressionLine(val)
    }
  }
}
</script>

<style>
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .dot {
        fill: #cdcdcd;
    }

    .lasso path {
        stroke: rgb(80,80,80);
        stroke-width:2px;
    }

    .lasso .drawn {
        fill-opacity:.05 ;
    }

    .lasso .loop_close {
        fill:none;
        stroke-dasharray: 4,4;
    }

    .lasso .origin {
        fill:#3399FF;
        fill-opacity:.5;
    }

    .dot:hover {
        stroke: black;
        cursor: pointer;
    }
</style>
