<template>
    <div>
        <md-list-item @click="visible = true">
            <md-icon>done</md-icon>
            <span class="md-list-item-text">Fit</span>
        </md-list-item>
        <md-dialog style="min-width: 550px" :md-active.sync="visible">
            <md-dialog-content>
                <md-table v-model="simulations" @md-selected="onSelect">
                    <md-table-toolbar>
                        <h4 class="md-title">Select simulations for fit</h4>
                    </md-table-toolbar>
                    <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple" md-auto-select>
                        <md-table-cell md-label="Electronic Transition">{{ item.name }}</md-table-cell>
                        <md-table-cell md-label="v_max">
                            <md-field style="max-width: 80px">
                                <md-input v-model="item.vMax"></md-input>
                            </md-field>
                        </md-table-cell>
                        <md-table-cell md-label="J_max">
                            <md-field style="max-width: 80px">
                                <md-input v-model="item.JMax"></md-input>
                            </md-field>
                        </md-table-cell>
                        <md-table-cell md-label="min. lines">
                            <md-field style="max-width: 80px">
                                <md-input v-model="item.lines"></md-input>
                            </md-field>
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" @click="visible = false">Cancel</md-button>
                <md-button class="md-primary" @click="runFit" :disabled="selectedSimulations.length < 1">Run fit</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<script>

export default {
  components: {},
  name: 'FitMenuItem',
  props: ['isSelectionEmpty'],
  data () {
    return {
      selectedSimulations: [],
      visible: false
    }
  },
  methods: {
    goBack () {
      this.$router.go(-1)
    },
    onSelect (items) {
      this.selectedSimulations = items
    },
    runFit () {
      let data = {}
      this.selectedSimulations.forEach(e => {
        data[e.name] = {
          'max_v': e.vMax,
          'max_J': e.JMax,
          'minlines': e.lines
        }
      })
      this.$store.commit('ACTIVATE_APP_LOADER')
      this.$socket.emit('bp_tool__fit', data, () => {
        this.$store.commit('DEACTIVATE_APP_LOADER')
      })
      this.visible = false
    }
  },
  computed: {
    simulations () {
      return this.$store.getters.simulations.map((d) => {
        return {name: d, vMax: null, JMax: null, lines: 2}
      })
    },
    simulationParts () {
      return this.$store.getters.bpSimulationsParts
    }
  },
  mounted () {
    this.visible = this.simulationParts.length === 0
  }
}
</script>
