<template>
    <md-app md-mode="fixed">
        <md-app-toolbar class="md-primary">
            <div class="md-toolbar-section-start">
                <md-button class="md-icon-button" @click="menuExpanded = !menuExpanded">
                    <md-icon>menu</md-icon>
                </md-button>
                <span class="md-title">Massive OES</span>
            </div>
            <div class="md-layout md-toolbar-section-end">
                <md-button class="md-icon-button" @click="helpVisible = true">
                    <md-icon title="Help">help_outline</md-icon>
                </md-button>
                <md-dialog :md-active.sync="helpVisible">
                    <md-dialog-content>
                        Use <b>Ctrl+Mouse left button</b> to select points in graph, then use <b>Enter key</b> to add points to selection.
                    </md-dialog-content>
                    <md-dialog-actions>
                        <md-button class="md-primary" @click="helpVisible = false">OK</md-button>
                    </md-dialog-actions>
                </md-dialog>
            </div>
        </md-app-toolbar>
        <md-app-drawer md-persistent="mini" :md-active.sync="menuExpanded">
            <md-toolbar class="md-transparent" md-elevation="0">
                <span>Navigation</span>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button md-dense" @click="menuExpanded = !menuExpanded">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item @click="goBack">
                    <md-icon>arrow_back</md-icon>
                    <span class="md-list-item-text">End without changes</span>
                </md-list-item>
                <md-list-item @click="linearize">
                    <md-icon>play_arrow</md-icon>
                    <span class="md-list-item-text">Run linearization</span>
                </md-list-item>
                <md-list-item @click="saveAndEnd">
                    <md-icon>save</md-icon>
                    <span class="md-list-item-text">Save and return to main screen</span>
                </md-list-item>
            </md-list>
        </md-app-drawer>
        <md-app-content class="linearize-content md-layout">
                <div class="md-layout-item md-size-75 md-small-size-100" style="min-height: 400px">
                    <linearization-chart class="linearization-chart"
                                         @interface="addLinearizationPair"
                                         :chartData="dataSetsFull"
                                         :options="{margin: [20,50], scaleByFirstDataSet: true}"
                    ></linearization-chart>
                </div>
                <div class="md-layout-item md-size-25 md-small-size-100">
                    <md-card class="parameters">
                        <md-list md-card>
                            <md-list-item v-for="(parameter, key) in parameters" :key="key">
                                <b>{{ formRowLabel(parameter) }}:</b> {{ formRowValue(parameter) }}
                            </md-list-item>
                        </md-list>
                    </md-card>
                    <br/>
                    <md-table v-model="points" class="selected-points" md-card :md-selected-value.sync="selectedPoints">
                        <md-table-toolbar>
                            <h4 class="md-title">Selected points</h4>
                        </md-table-toolbar>
                        <md-table-toolbar slot="md-table-alternate-header" slot-scope="{ count }">
                            <div class="md-toolbar-section-start">{{ `${count} point${count > 1 ? 's' : ''} selected` }}</div>

                            <div class="md-toolbar-section-end">
                                <md-button @click="removeSelected" class="md-icon-button">
                                    <md-icon>delete</md-icon>
                                </md-button>
                            </div>
                        </md-table-toolbar>
                        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple" md-auto-select>
                            <md-table-cell md-label="Measurement">{{ round(item.measurement) }}</md-table-cell>
                            <md-table-cell md-label="Simulation">{{ round(item.simulation) }}</md-table-cell>
                        </md-table-row>
                    </md-table>
                </div>
        </md-app-content>
    </md-app>
</template>

<script>
import LinearizationChart from './charts/LinearizationChart'
import {createChartDataSet, DATA_SET_TYPE} from '../factory/chartDataSet'
import {parameterLabel, parameterUnit} from '../service/parameterBeautifier'
import {formatNumber} from '../service/numberBeautifier'

export default {
  components: {
    LinearizationChart
  },
  name: 'Linearization',
  data () {
    return {
      menuExpanded: false,
      selectedPoints: [],
      helpVisible: false
    }
  },
  methods: {
    formRowLabel (data) {
      return parameterLabel(data.parameter_name)
    },
    formRowValue (data) {
      return `${this.round(data.value)} ${parameterUnit(data.parameter_name)}`
    },
    round (number) {
      return formatNumber(number)
    },
    goBack () {
      this.$store.commit('ACTIVATE_APP_LOADER')
      this.$socket.emit('linearization__rollback', null, () => {
        this.$router.go(-1)
        this.$store.commit('DEACTIVATE_APP_LOADER')
      })
    },
    linearize () {
      this.$store.commit('ACTIVATE_APP_LOADER')
      this.$socket.emit('linearization__run', this.points, (data) => {
        this.$store.commit('LOAD_LINEARIZATION_DATA', data)
        this.$store.commit('DEACTIVATE_APP_LOADER')
      })
    },
    saveAndEnd () {
      this.$socket.emit('linearization__save', null, (data) => {
        this.goBack()
      })
    },
    removeSelected () {
      this.$store.commit('REMOVE_LINEARIZE_PAIRS', this.selectedPoints)
      this.selectedPoints = []
    },
    addLinearizationPair (data) {
      this.$store.commit('ADD_LINEARIZE_PAIR', {
        measurement: data[0],
        simulation: data[1]
      })
    }
  },
  computed: {
    points () {
      return this.$store.getters.linearizePairs
    },
    dataSetsFull () {
      return [
        createChartDataSet(DATA_SET_TYPE.MEASUREMENT, this.$store.getters.linearizationChartData.measurement_data),
        createChartDataSet(DATA_SET_TYPE.SIMULATION, this.$store.getters.linearizationChartData.simulation_data)
      ]
    },
    parameters () {
      return this.$store.getters.linearizationParameters
    }
  },
  mounted () {
    this.$store.commit('ACTIVATE_APP_LOADER')
    this.$socket.emit('linearization', undefined, (data) => {
      this.$store.commit('LOAD_LINEARIZATION_DATA', data)
      this.$store.commit('DEACTIVATE_APP_LOADER')
    })
  }
}
</script>

<style>
    .linearization-chart {
        height: 100%;
        width: 100%;
    }
    .md-content.linearize-content {
        background-color: #fafafa;
    }
    .md-app-content .md-card.selected-points, .md-app-content .md-card.parameters {
        margin-right: 0;
    }
</style>
