<template>
    <div class="homepage">
        <md-app>
            <md-app-toolbar class="md-primary">
                <span class="md-title">Massive OES</span>
            </md-app-toolbar>
            <md-app-content>
                <file-browser
                        listHeader="Last opened projects"
                        :historyStorageKey="historyStorageKey"
                        selectMode="file_historyFolder"
                        v-on:selected="fileSelected"></file-browser>
            </md-app-content>
        </md-app>
    </div>
</template>

<script>
import FileBrowser from './FileBrowser'
import {addItemToHistory} from '../../service/localHistoryManager'

export default {
  components: {FileBrowser},
  name: 'FileViewer',
  data () {
    return {
      historyStorageKey: 'openProject'
    }
  },
  methods: {
    fileSelected (path) {
      this.$store.commit('ACTIVATE_APP_LOADER')
      this.$socket.emit('workspace__open_measurement', path, () => {
        let dirName = path.substring(0, path.lastIndexOf('/'))
        addItemToHistory(this.historyStorageKey, dirName)
        // addItemToHistory(this.historyStorageKey, path)
        this.$router.push('/workspace')
        this.$store.commit('DEACTIVATE_APP_LOADER')
      })
    }
  }
}
</script>
