<template>
    <md-list>
        <md-subheader v-if="listHeader">{{ listHeader }}</md-subheader>

        <!--v-if to readable property, make computed-->
        <!--openPath only if this is open dialog-->
        <!--this should be only file/folder select dialog open or save should do parent component-->
        <md-list-item v-if="historyStorageKey" v-for="(item, key) in historyItems" @click="openHistory(item)" :key="`history_item__${key}`">
            <md-icon>{{historyIcon}}</md-icon>
            <span class="md-list-item-text">{{ item }}</span>
        </md-list-item>

        <md-divider></md-divider>

        <md-subheader>
            <span class="file_browser__breadcrumb__item">
                <a @click="openFolder('/')"><md-icon >home</md-icon></a>
                <span class="file_browser__breadcrumb__spacer">/</span>
            </span>
            <span class="file_browser__breadcrumb__item" v-for="(item, key) in breadcrumb()" :key="`breadcrumb_item_${key}`">
                <a @click="openFolder(item.path)">{{ item.name }}</a>
                <span class="file_browser__breadcrumb__spacer">/</span>
            </span>
        </md-subheader>

        <md-list-item v-for="(item, key) in items.folders" @click="openFolder(item)" :key="`list_folders_item_${key}`">
            <md-icon>folder</md-icon>
            <span class="md-list-item-text">{{ fileName(item) }}</span>
        </md-list-item>
        <md-list-item v-if="selectMode === 'file' || selectMode === 'file_historyFolder'" v-for="(item, key) in items.files" @click="openFile(item)" :key="`list_files_item_${key}`">
            <md-icon>insert_drive_file</md-icon>
            <span class="md-list-item-text">{{ fileName(item) }}</span>
        </md-list-item>
    </md-list>
</template>

<script>
import {getHistory} from '../../service/localHistoryManager'

export default {
  props: {
    listHeader: {
      type: String,
      required: false
    },
    historyStorageKey: {
      type: String,
      required: false
    },
    selectMode: {
      type: String,
      required: false,
      default: 'file',
      validator: (value) => ['file', 'folder', 'file_historyFolder'].indexOf(value) !== -1
    }
  },
  data () {
    return {
      historyItems: getHistory(this.historyStorageKey).items,
      items: {
        current: ''
      }
    }
  },
  methods: {
    openFolder (path) {
      this.$socket.emit('file_explorer__list_files', path, (data) => {
        this.items = data
      })
      if (this.selectMode === 'folder') {
        this.$emit('selected', path)
      }
    },
    openFile (path) {
      if (this.selectMode === 'file' || this.selectMode === 'file_historyFolder') {
        this.$emit('selected', path)
      }
    },
    fileName (path) {
      return path.split('/').filter(e => e !== '').slice(-1).pop()
    },
    openHistory (path) {
      if (this.selectMode === 'folder' || this.selectMode === 'file_historyFolder') {
        this.openFolder(path)
      } else {
        this.$emit('selected', path)
      }
    },
    breadcrumb () {
      let startsWithSlash = this.items.current.startsWith('/') ? 1 : 0
      let parent = startsWithSlash ? '/' : ''
      return this.items.current.split('/').filter(e => e !== '').map((e) => {
        parent = parent + e + '/'
        return {
          'name': e,
          'path': parent
        }
      })
    }
  },
  mounted () {
    this.openFolder(getHistory(this.historyStorageKey).root)
  },
  computed: {
    historyIcon: function () {
      switch (this.selectMode) {
        case 'folder':
        case 'file_historyFolder':
          return 'folder'
        case 'file':
          return 'insert_drive_file'
      }
    }
  }
}
</script>

<style>
    .file_browser__breadcrumb__item {
        margin: 0;
    }
    .file_browser__breadcrumb__spacer {
        margin: 0 5px;
    }
    .file_browser__breadcrumb__item a {
        cursor: pointer;
    }
    .file_browser__breadcrumb__item a:hover {
        text-decoration: none;
    }
</style>
