<template>
    <div id="app" v-if="connectionActive && !connectionReset">
        <div id="loader" v-if="loaderActive" class="md-layout md-alignment-center-center">
            <div id="loader-spinner">
                <md-progress-spinner class="md-accent" :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
            </div>
            <div id="loader-text">Please wait for synchronous operation to complete...</div>
        </div>
        <router-view/>
    </div>
    <div v-else-if="!connectionActive || connectionReset">
        <md-empty-state
                md-icon="devices_other"
                :md-label="connectionLabel"
                :md-description="connectionDescription">
            <md-button v-if="connectionReset" @click="openProject" class="md-primary md-raised">Open project</md-button>
        </md-empty-state>
    </div>
</template>

<script>
export default {
  name: 'App',
  methods: {
    openProject () {
      this.$router.push('/')
      this.$store.commit('RERUN_APP')
    }
  },
  computed: {
    loaderActive () {
      return this.$store.getters.appLoaderActive
    },
    connectionActive () {
      return this.$store.getters.appConnectionActive
    },
    connectionReset () {
      return this.$store.getters.appConnectionActive && !this.$store.getters.appRunning
    },
    connectionLabel () {
      return this.connectionReset ? 'Connection restarted' : 'Connection lost'
    },
    connectionDescription () {
      return this.connectionReset ? '' : 'There is no connection with massiveOES API. Please check if API is alive or try turn it off and on again.'
    }
  }
}
</script>

<style>
    body, #app, .md-app {
        height: 100%;
    }
    #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.75);
        z-index: 999;
        flex-direction: column;
    }
    #loader-text {
        /*width: 100%;*/
        text-align:center;
        margin-top: 1rem;
    }
</style>
